body {
    background-color: cornflowerblue;
    color: aliceblue;
    text-align: center;
}
.header{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border:  solid rgb(207, 7, 7);
    padding: 10px;
}